################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MultipleLogin/FileContentIndex
/.vs/MultipleLogin/config/applicationhost.config
